<article class="post">
    <!-- Display the user's name -->
    <div class="content">
        <p>User Name: {{posts.[0].user.username}}</p>
        <!-- Display the number of posts made by the user -->
        <p>Posts: {{posts.length}}</p>
        <!-- Provide a link to edit the user's information -->
        <a href="/dashboard/edituser">Edit My Info</a>
    </div>
</article>